body {
  font-family: "Helvetica";
}

input {
  padding: 10px;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  border-radius: 10px;
  border: 1px solid black;
  width: 100%;
}

.search-suggestions {
  display: flex;
  overflow-x: scroll;
}

.book-result {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background-color: #fafefd;
  border: 0;
  text-align: left;
  margin: 5px;
  padding: 20px;
  width: 170px;
}

.book-result:hover {
  background-color: #ebfdf9;
  cursor: pointer;
}

.title {
  font-weight: bold;
  margin: 0 5px 15px;
}

.track-info {
  height: fit-content;
}

.track-title {
  font-weight: bold;
  margin: 15px 5px 5px;
}

.author {
  margin: 5px;
  margin-bottom: 15px;
  color: gray;
}

.album-data {
  margin: 5px;
  color: gray;
}

.album-data:last-of-type {
  margin-bottom:15px;
}

.album-artist {
  margin: 5px;
  color: gray
}

.toast {
  padding: 20px;
  width: 250px;
  position: fixed;
  top: 0;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s linear;
  border-width: 3px;
}

.success {
  border-color: green;
  background-color: lightgreen;
}

.warning {
  border-color: gold;
  background-color: lightyellow;
}

.show {
  opacity: 1;
}
